---
import Layout from "../layouts/Layout.astro";
import { site } from "../config/site";
import Panorama from "../components/Panorama.astro";
---

<Panorama />
<Layout title={site.title}>
	<div class="page">
		<div class="card">
			<img class="avatar" src={site.avatar} alt="avatar" />
			<h1>{site.title}</h1>
			<p class="subtitle">{site.subtitle}</p>
			<div class="links">
				<a href="/blog">Blog</a>
				<a href="/projects">Projects</a>
				<a href={site.socials.github}>GitHub</a>
			</div>
		</div>
	</div>
</Layout>
